
 /* banner header starting  css styles */

 .overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #dccef8 0%, rgba(20, 2, 56, 0) 10%);
  font-size: 48px;
 
 
 }
 
 .banner1-container{
  margin-left: 50px;
  margin-right: 300px;
  margin-top: 52px;

}
.hny1{
  margin-top: 50px;
  font-size: 82px;
  margin-bottom: 20px;
}
.hny2{
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 62px;
}
  /* Discount section */

 .discount{
  text-align: center;
  margin-top: 130px;

 }
 .discount-amount{
  font-size: 100px;
  font-weight: 800;
  color:#FF0000;
  text-align: center;
  margin-top: 130px;
 }
 .discount-title{
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: #FF0000;
 }
 .discount-items{
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  
 }

 


 .img-container2 img{
  margin-left: 140px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: auto;
 }

.banner-card{
  position: relative;
  border: 10px solid #FF0000;
  border-style: hidden;
  border-radius: 10ox;
  border-block:inherit;

}       

.banner-card img{
 max-width: 100%;
 height: auto;
margin-left:50px;
}


.banner-title2{
 position: absolute;
 top: 40%;
 left: 10%;
 color: #FFFFFF;}
 
 .banner-title2 h1{
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 20px;
 }
 .banner-title2 p{
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 0px;
 
 }

  .btn2{
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
  }
 
  .Event{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  }  

.time-date{
 align-items: center;
 justify-content: center;
}

.products-container{
  display: flex;
  justify-content:space-around;
  flex-direction:column;
  flex-flow:wrap;
  width: 100%;
  margin-top: 100px;
  flex-wrap:wrap;
  padding: 100px;
  gap: 25px;
  
 
 

 
}
.products-container h5{
  color: #FF0000;
  margin-left: 50px;
}
.products-container h2{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-left: 40px;
}
.details-item{
      h1{
        margin-top: 80px;
        margin-left: 50px;
        padding-bottom: 10px;}
      h6{
        margin-left: 48px;
        font-size: 45px;
        margin-bottom: 20px;
        margin-top: 0px;}
      p{
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 0px;

}}
.Newsletter{
 text-align: center;
 width:1100px;
 height:550px;
 border:6px outset rgb(255, 253, 248);
 background:rgb(250, 215, 215);
 margin-left: 130px;
 margin-top: 80px;
 
}

.subscribe_now{
  img{
    width: 150px;
    height:150px;
    margin-left: 380px;
  }
  h2{
    margin-left: 300px;
    font-weight: 800;
    font-size: 52px;

  }
  p{
    margin-left: 300px;
    text-wrap: wrap;
    margin-bottom: 5px;
  }
}

.subscribe_now {
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: flexbox;
  border: 2px solid;
  border-style: groove;
  border-radius: 16px;
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;

}
.subscribe_form {
  max-width: 648px;
  height: 72px;
  width: 100%;
  margin-left: 330px;
  border-radius: 16px;
  margin-top: 15px;

}
  


.button {
  border: none;
  max-width: 210px;
  height: 44px;
  text-transform: uppercase;
}


.container{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width:700px){
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 30px;
  }
}
.event-time{
  
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border:5px solid #FF0000;
  border-style:groove;
  border-radius: 16px;
  max-width: 1320px;
  height: 482px;
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  background-color:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}
 
.span-color{
  color: #FF0000;
}


.title1{
  margin-top: 150px;
  margin-bottom: 10px;
}
.title2{
  margin-top: 0px;
  margin-bottom: 10px;
}
.title3{
  margin-top: 0px;
  margin-bottom: 10px;
}
.button3{
  border: 10px solid #FF0000;
  max-width: 250px;
  height: 44px;
  text-transform: uppercase;
  border-radius: 5px;
  border-style:none;
  margin-bottom: 100px;
  margin-top: 15px;
  font-size: 20px;
  background: #FF0000;
  color: thistle;
}

/* footer section */

.footer-address {
  
  background-color: black;
  color: white;
  bottom: 0;
  width: 1600px;
  height: 609px;
  font-size: 16px;
}
footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
}
.call{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.web{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}