.body{
 margin: 50px 140px 150px 140px;
 padding: 125px;
 font-family: 'Lato', sans-serif;
 background-color: #F5F5F5;
 
 
 }
 /* banner header starting  css styles */

 .overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #160538 0%, rgba(20, 2, 56, 0) 10%);
  font-size: 48px;
 
 }
 
  /* Discount section */

 .discount{
  text-align: center;
  margin-top: 130px;

 }
 .discount-amount{
  font-size: 100px;
  font-weight: 800;
  color:#FF0000;
  text-align: center;
  margin-top: 130px;
 }
 .discount-title{
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: #FF0000;
 }
 .discount-items{
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  
 }

 


 .img-container2 img{
  margin-left: 140px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: auto;
 }

.banner-card{
  position: relative;

}       

.banner-card img{
 max-width: 100%;
 height: auto;
margin-left:50px;
}


.banner-title2{
 position: absolute;
 top: 40%;
 left: 10%;
 color: #FFFFFF;}
 
 .banner-title2 h1{
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 20px;
 }
 .banner-title2 p{
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 0px;
 
 }

  .btn2{
   text-align: center;
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
  }
 
  .Event{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  }  

.time-date{
 align-items: center;
 justify-content: center;
}

.products-container{
 display: flex;
 justify-content:space-evenly;
 flex-direction:row;
 flex-flow:wrap;
 width: 100%;
 max-height:fit-content;
 margin-top: 100px;
 flex-wrap: wrap;
 padding: 5px;

 
}


.details-item{

 text-align: left;
 text-decoration: solid;
 font-family: Inter;
 margin-left: 50px;
 margin-bottom: 20px;

}
.Newsletter{
 text-align: center;
 width:1100px;
 height:550px;
 border:6px outset rgb(255, 253, 248);
 background:rgb(250, 215, 215);
 margin-left: 150px;
 margin-top: 80px;
 
}

.subscribe_now{
  img{
    width: 135px;
    height:72px;
    margin-left: 380px;
  }
  h2{
    margin-left: 380px;

  }
  p{
    margin-left: 300px;
    text-wrap: wrap;
    margin-bottom: 5px;
  }
}

.subscribe_now {
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  display: flexbox;
  border: 2px solid;
  border-style: groove;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;

}
.subscribe_form {
  max-width: 648px;
  height: 72px;
  width: 100%;
  margin-left: 340px;
  box-shadow: 0px 2px 3px 0px rgba(79, 25, 215, 0.24);
  border-radius: 16px;
  margin-top: 15px;

}
  


.button {
  border: none;
  max-width: 210px;
  height: 44px;
  text-transform: uppercase;
}


.btn btn-default{
  background:#F00;
}